<header class="site-header">
    <div class="wrap">
        <a class="site-title" href="{{ site.baseurl }}/"><h1><strong> <font style="color:#39B3D7" >R</font><font style="color:#ED9C28">o</font><font style="color:#47A447">b</font><font style="color:#D9534F">i</font><font style="color:#3276B1">n</font>
                </strong>
        </h1></a>
        <nav class="site-nav">
            <div class="trigger">
                {% for nav in site.navigations %}
                {% if nav.title %}
                <a class="page-link" href="{{ nav.href }}">{{ nav.title }}</a>
                {% endif %}
                {% endfor %}
            </div>
        </nav>
    </div>
</header>
